



html {
    font-family: arial, sans-serif;

}

a {

}

a:hover {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li { 
    display: inline;
    
}

#about {

}

#store {

}

#gmail {

}

#images {

}

#apps{

}

#sign-in {

}

#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 92px; 
    width: 272px;
}

#search {


}

#ad {


}

#business {


}

#hsearchw {


}

#privacy {


}

#terms {


}

#settings {


}


