html,body {

}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#top {
    display: flex;
    justify-content: flex-end;
      
}

#top a {

}

#top-right {
   display: flex;
   padding-top: 15px;
   margin-right: 20px;;
   
}

.gmail {
    flex: 0 1 100px;
}

.images {
    flex: 0 1 100px;
}

.apps {
    flex: 0 1 150px;
}

.sign-in {
    flex: 0 1 150;
}

#main {
    margin-top: 300px;
}

#logo-container {
    text-align: center;
}

#searchbar-container {
    text-align: center;
}

#searchbar {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #bebcbc;
    border-radius: 10px;
    width: 450px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    

}

.button {
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: #f3f3f3;
    border-radius: 5px;

}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 20px;
    background: #f2f2f2

}

.footer-content {
    
    color: #70757a;
    margin-bottom: 15px;
    background: ; 

}

